<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scored | Welcome</title>
    <link rel="icon" th:href="@{/icons/scored-logo.svg}"/>
    <link rel="stylesheet" th:href="@{/css/landingPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-data.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-faq.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-cite.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-contact.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-testimonios.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-hero.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-description.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-map.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-features.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing-recomendations.css}"/>
</head>
<body>
<nav>
    <div>
        <img
                th:src="@{/icons/scored-logo.svg}"
                alt=""
                th:class="logo"/>
    </div>
    <div class="nav-actions">
        <a class="btn btn-register" href="">Register</a>
        <a class="btn btn-login" th:href="@{/login}">Login</a>
    </div>
</nav>
<main>
    <section>
        <div>
            <div th:insert="fragments/landing-hero :: landing-hero"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-description :: landing-description"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-data :: landing-data"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-features :: landing-features"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-map :: landing-map"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-recomendations :: landing-recomendations"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-crowns :: landing-crowns"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-testimonios :: landing-testimonios"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-faq :: landing-faq"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-cite :: landing-cite"></div>
        </div>
        <div>
            <div th:insert="fragments/landing-contact :: landing-contact"></div>
        </div>
    </section>
</main>
</body>
</html>