nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 70px;
    border-bottom: solid 1px black;
    align-items: center;
}

a {
    margin: 0px 20px;
}

.logo {
    height: 50px;
    margin: 0px 20px;
    cursor: pointer;
}

h3 {
    text-align: center;
}
