<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="landing-hero">
    <section class="hero-section">
        <div class="hero-container">
            <div class="hero-badge">Tu guía turística de recomendaciones inteligentes en Alicante</div>

            <h1 class="hero-title">
                Vive <span>Alicante</span> como nunca antes
            </h1>

            <p class="hero-description1">
                Este texto esta escrito con el tipo de fuente 'BUDA', que es una fuente de estilo
                moderno y elegante. Su diseño limpio y sofisticado la hace perfecta para transmitir
                un mensaje de calidad y estilo. La fuente 'BUDA' aporta un toque de distinción y
                personalidad al texto, haciéndolo destacar y captar la atención del lector de manera efectiva.
            </p>

            <p class="hero-description2">
                Este texto esta escrito con el tipo de fuente 'InstrumentSerif', que es una fuente de estilo
                moderno y elegante. Su diseño limpio y sofisticado la hace perfecta para transmitir
                un mensaje de calidad y estilo. La fuente 'BUDA' aporta un toque de distinción y
                personalidad al texto, haciéndolo destacar y captar la atención del lector de manera efectiva.
            </p>

            <p class="hero-description3">
                Este texto esta escrito con el tipo de fuente 'Oranienbaum', que es una fuente de estilo
                moderno y elegante. Su diseño limpio y sofisticado la hace perfecta para transmitir
                un mensaje de calidad y estilo. La fuente 'BUDA' aporta un toque de distinción y
                personalidad al texto, haciéndolo destacar y captar la atención del lector de manera efectiva.
            </p>

            <p class="hero-description4">
                Este texto esta escrito con el tipo de fuente 'Ysabeau', que es una fuente de estilo
                moderno y elegante. Su diseño limpio y sofisticado la hace perfecta para transmitir
                un mensaje de calidad y estilo. La fuente 'BUDA' aporta un toque de distinción y
                personalidad al texto, haciéndolo destacar y captar la atención del lector de manera efectiva.
            </p>

            <p class="hero-description5">
                Este texto esta escrito con el tipo de fuente 'GFSDidot', que es una fuente de estilo
                moderno y elegante. Su diseño limpio y sofisticado la hace perfecta para transmitir
                un mensaje de calidad y estilo. La fuente 'BUDA' aporta un toque de distinción y
                personalidad al texto, haciéndolo destacar y captar la atención del lector de manera efectiva.
            </p>

            <a href="#eventos" class="hero-button">Explorar eventos</a>
        </div>
    </section>

</div>
</body>
</html>