<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="landing-map">
    <section class="map-feature-section">
        <div class="map-feature-container">

            <div class="map-feature-text">
                <h2>Explora Alicante con las mejores recomendaciones</h2>
                <p>
                    Con nuestra web podrás descubrir en Alicante los eventos más destacados,
                    restaurantes imprescindibles, rincones culturales y actividades únicas.
                    Todo geolocalizado para que encuentres fácilmente experiencias auténticas
                    y aproveches al máximo tu visita a la ciudad.
                </p>
            </div>

            <div class="map-wrapper">
                <img src="png/Alicante-Mapa.png"
                     alt="Mapa de Alicante">

                <!-- Pines rojos -->
                <div class="pin" style="top: 35%; left: 42%;"></div>
                <div class="pin" style="top: 50%; left: 58%;"></div>
                <div class="pin" style="top: 68%; left: 48%;"></div>
            </div>

        </div>
    </section>

</div>
</body>
</html>