<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="landing-cite">
    <section class="landing-cite-section">
        <div class="landing-cite-container">
            <div class="landing-cite-mark">“</div>
            <p class="landing-cite-quote">
                Todo soñador sabe que es perfectamente posible sentir nostalgia por un lugar en el que nunca se ha
                estado, quizás más nostalgia que por algo conocido
            </p>
            <p class="landing-cite-author">— Judith Thurman</p>
            <div class="landing-cite-mark">”</div>
        </div>
    </section>
</div>
</body>
</html>